$breakpointM: 768;
$breakpointT: 1024;
$breakpointD: 1440;

@mixin screenM {
  @media (max-width: #{$breakpointM - 1}px) {
    @content;
  }
}

@mixin screenT {
  @media (min-width: #{$breakpointM}px) and (max-width: #{$breakpointT - 1}px) {
    @content;
  }
}

@mixin screenD {
  @media (min-width: #{$breakpointT}px) and (max-width: #{$breakpointD - 1}px) {
    @content;
  }
}

@mixin screenL {
  @media (min-width: #{$breakpointD}px) {
    @content;
  }
}

// mixed

@mixin screenMT {
  @include screenT {
    @content;
  }
  @include screenM {
    @content;
  }
  // i believe sass should to optimize that.
}

@mixin screenTD {
  @include screenT {
    @content;
  }
  @include screenD {
    @content;
  }
}

@mixin screenDL {
  @include screenD {
    @content;
  }
  @include screenL {
    @content;
  }
}
