html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

*, *::after, *::before {
  position: relative;
  box-sizing: border-box;
}

@import "icons";
@import "headers";
@import "navigation";
@import "sidebar";
@import "search";
@import "coupons";
