@import "screens";


.layout {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  display: grid;
  grid-template:
    "sidebar header"
    "sidebar  main ";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  &.abs {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    > * {
      pointer-events: initial;
    }
  }

  > aside {
    grid-area: sidebar;
  }

  > main {
    grid-area: main;

    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-self: start;
    grid-auto-rows: 1fr;

    @include screenL {
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }

    @include screenDL {
      padding: 40px 60px;
    }

    @include screenTD {
      grid-template-columns: repeat(2, 1fr);
    }

    @include screenT {
      padding: 27px 26px;
    }

    @include screenM {
      grid-template-columns: 1fr;
      padding: 27px 20px;
    }
  }

  > header {
    grid-area: header;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;

    padding: 40px 60px;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;

    transition: height 0.3s ease, padding-left 0.3s ease;

    @include screenT {
      padding: 27px 26px;

      &.scroll {
        padding-left: 77px;
      }
    }

    @include screenM {
      padding: 27px 21px;

      &.scroll {
        padding-left: 68px;
      }
    }

    &.scroll {
      > .header {
        @include screenMT {
          height: 0;
        }
      }
    }

    > .header {
      overflow: hidden;
      //flex-grow: 1;

      height: calc(40px + 31px + 4px);
      transition: height 0.3s ease;

      @include screenDL {
        padding-top: 4px;
      }

      @include screenT {
        height: calc(40px + 31px);

        text-align: right;
      }

      @include screenM {
        text-align: right;
      }
    }

  }
}
