@import "colors";

.search {
  height: 52px;


  &::after {
    content: '';
    display: block;
    position: absolute;

    width: 20px;
    height: 20px;

    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    pointer-events: none;

    background-image: url("../assets/icons/default/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;

    opacity: 0.2;
  }

  > input {
    display: block;
    width: 100%;
    height: 100%;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    //line-height: 28px;

    padding: 0 16px 0 44px;
    border: none;
    outline: none;


    background-color: white;
    border-radius: 100px;
    box-shadow: inset 0 0 0 1px transparentize($black, 0.8);

    //color: transparentize(black, 0.55); // idk =(
    color: $black;

    &::placeholder {
      color: transparentize(black, 0.55);
    }
  }
}
