@import "screens";
@import "colors";

.sidebar {

  width: 240px;
  height: 100%;
  background-color: $sidebar;

  transition: width 0.3s ease;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;

  @include screenT {
    width: 225px;

    &.closed {
      width: 104px;

      .sidebar__head__company {
        opacity: 0;
        //display: none;
      }
    }
  }
  @include screenM {
    width: 190px;

    &.closed {
      width: 12px;

      .sidebar__head {
        padding: 0;
      }

      .sidebar__head__logo,
      .sidebar__head__company {
        //display: none;
        opacity: 0;
      }

      .sidebar__nav {
        display: none;
      }
    }
  }

  &.fake {
    @include screenM {
      width: 12px;
    }
  }

  &__head {
    height: 106px;
    margin-bottom: 5px;
    padding-left: 41px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    flex-shrink: 0;

    transition: padding-left 0.2s ease;

    &__logo {
      width: 50px;
      height: 50px;

      background-image: url("../assets/icons/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-origin: content-box;

      flex-shrink: 0;

      opacity: 1;
      transition: opacity 0.2s ease-in-out;

      @include screenMT {
        width: 24px;
        height: 24px;
      }
    }

    &__company {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      margin-left: 10px;

      color: $black;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;

      @include screenMT {
        margin-left: 5px;

        font-size: 14px;
        line-height: 21px;
      }
    }

    &__button {
      position: absolute;
      width: 48px;
      height: 106px;

      cursor: pointer;

      top: 0;
      left: 100%;

      background-image: url("../assets/icons/sidebar-chunk.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-origin: content-box;

      display: flex;
      align-items: center;
      justify-content: center;

      @include screenDL {
        display: none;
      }
    }
  }

  &__nav {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
